@{
}
<section class="panel panel-default">
    <div class="panel-heading">
        <h3>About me</h3>
    </div>
    <div class="panel-body">
            <img src="~/media/images/eben-ws.jpg" style="margin-bottom:10px"/>
            Passionate coder,blogger and wanderlust traveller
        
    </div>
</section>
